@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/carbon.png");
  @apply p-8;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 2px;
  border-style: solid;
  @apply bg-green-900;
  @apply border-green-900 rounded-full;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply bg-white w-5 h-5 rounded-full cursor-pointer;
}
